body{
    background: black;
}

.lol{
    width: 330px;
    height: 330px;
    border: 1px solid white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
}
.circle{
    width: 30px;
    height: 30px;
    background: rgb(0,255,13);
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* overflow: hidden; */
    margin: auto;
    /* -webkit-animation: circle 2s linear infinite; */
    animation:circle 2s linear infinite ;
    
}

@-webkit-keyframes circle{
    0%{
        transform: rotate(0deg)translate(-125px)rotate(0deg);
    }
    100%{
        transform: rotate(-360deg)translate(-125px)rotate(-360deg);
    }
}